<app-menu-nav></app-menu-nav>

<div>
 <!-- <h2 class="text-lg font-semibold ml-[50%] -translate-x-1/2  ">Nuestras tiendas</h2> -->
<div *ngIf="data" class="flex gap-10 pt-8 p-16 flex-wrap justify-start [&_.p-card-footer]:!pt-0 [&_.p-card-body]:flex [&_.p-card-body]:flex-col [&_.p-card-body]:!pb-0">
    
<div *ngFor="let local of data" >
    <p-card [header]="local.nombre" class="[&_.p-card-content]:!py-0 [&_.p-card-header]:h-28 [&_.p-card-header]:relative [&_img]:-translate-y-[33%] [&_.p-card-header]:overflow-hidden" styleClass="flex flex-col [&_.p-card-body]:h-[220px] [&_.p-card-title]:!mb-0 [&_.p-card-content_p]:h-[80px] [&_.p-card-content_p]: [&_.p-card-content_p]:text-ellipsis [&_.p-card-content_p]:line-clamp-4 [&_.p-card-content_p]:overflow-hidden  [&_.p-card-content_p]:whitespace-normal" [subheader]="'Local:'+local.ubicacion"[style]="{height:'350px' ,width:'310px' }">
        <ng-template pTemplate="header" >
            <img alt="Card" [src]="local.imgurl" />
            <div (click)="showModal(local.id!)" class="absolute  w-[310px] h-[112px] flex justify-center items-center bg-[#00000075] hover:opacity-100 group/go transition-opacity z-10 top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 overflow-hidden opacity-0">
                <p-button class="hidden group-hover/go:block" label="Mas" [rounded]="true" severity="secondary"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="text-sm text-justify font-semibold">           
        
            {{local.detalles}}
            </p>
        </ng-template>
        <ng-template pTemplate="footer"  >
           <div class="flex justify-between mt-[41px]">
            <div class="flex-grow text-sm font-light">{{local.categoria}} > {{local.subcategoria}}</div>
            
                <div *ngIf="userServices.isAdmin()" (click)="deleteLocal($event,local.id!)" class="flex w-6 justify-center cursor-pointer items-center" > <p-confirmPopup></p-confirmPopup> <p-toast key="delete"></p-toast><i class="pi pi-trash hover:text-red-600 w-5 h-5 !flex justify-center items-center"></i></div>
            
           </div>
        </ng-template>
    
    </p-card>
</div>
<app-preview-modal [(isLoading)]="isLoading" [id]="id" [(isVisible)]="isVisible"></app-preview-modal>
</div>
</div>